
<div class="container-fluid p-1 p-sm-5">
    <div class="card inner col-lg-8 col-md-12 col-sm-12">
        <div class="text-center ">
            <div class="acknoledge  ">
                Feel Free For Contact Us...
            </div>
            <div class="h-100">
                logo here
            </div>
            <div class="row d-flex">
                <div class="col">
                    <i class="bi bi-facebook contact-icons"></i>
                </div>
                <div class="col">
                    <i class="bi bi-instagram contact-icons"></i>
                </div>
                <div class="col">
                    <i class="bi bi-twitter contact-icons"></i>
                </div>
                <div class="col">
                    <i class="bi bi-github contact-icons"></i>
                </div>
            </div>
           
        </div>
        
    </div>
</div>
