.container-fluid{
    background-color: #374151 ;
    height: 100vh;
}

.inner{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 55%;
    width: 75%;
    border-radius: 20px;
    background-color: #6B7280;
}

.acknoledge{
    font-size: 35px;
    font-weight: 700;
    color: white;
}

.contact-icons{
    font-size: 40px;
}