.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/assets/images/backless.png');
    }

.signup-container {
    width: 100%;
    margin-top: 50px;
    max-width: 450px;
    max-height: 600px;
    padding: 2rem;
    background: white ;
    border: 2px solid #269c2f;
    border-radius: 6px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 2px;
    margin-bottom: 2px;
    opacity: 0; 
  transition: opacity 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 7px;
}

.scrolling::-webkit-scrollbar-track {
    opacity: 1;
}

.form-heading {
    font-size: 25px;
    font-weight: 500;
    color: #269c2f;
}
input {
    background-color: white;
}
.form-control,
.btn {
    height: 45px;
}
.form-control{
    border: 1px solid #656565;
}
.form-label{
    color: #269c2f;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: -50px;
}
.signup-btn {
    background-color: #269c2f;
    opacity: 1;
    color: white;
    border: none;
}


.empty-alert{
    color: red;
    font-size: 12px;
}