<div class="container-fluid  abc ">
   
<div class="inner w-50 text-center">
    <div class="heading">
        Welcome to my project
     </div>
    
     <div class="content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam tenetur molestiae, dolorum cum iusto mollitia optio, vitae, incidunt aut facilis illo. Nostrum doloribus corporis error quam at, illo repellat sequi deserunt ad laboriosam dicta! Perspiciatis delectus officiis numquam expedita fuga autem. Totam unde 
     </div>
</div>



</div>

<div class="render-element">
    <h1>About us</h1>
</div>
<app-about-us></app-about-us>