<div class="container-fluid  abc ">
   
<div class="inner w-50 text-center">
    <div class="heading">
        Start Your Learning Journey!
     </div>
    
     <div class="content">
        SnapStudy is your one-stop destination for all your educational needs. We provide a comprehensive platform that includes engaging courses, interactive learning tools, and personalized support to help you achieve your goals. Whether you're a student, professional, or simply seeking to expand your knowledge, SnapStudy has something for everyone.
     </div>
</div>



</div>

<div class="render-element">
    <h1>About us</h1>
</div>
<app-about-us></app-about-us>