.container-fluid{
    background-color:rgb(226, 224, 224);; 
}
.paragraph{
    text-align: justify;
    font-size: 19px;
    font-family: 'Lucida Sans',sans-serif;
    line-height: 1.8rem;
    letter-spacing: 0.5px;
}

h1{
    font-family: 'Lucida Sans';
    font-weight: 700;
    color: #7E22CE;
}
.card{
    border: none;
    background-color: white;
}

.card-image{
    object-fit: contain; 
    border-radius: 8px;
    width: 100%;
}

