.main-container{
    /* background-color: rgba(167, 249, 113, 0.627); */
    padding: 5px;
}
.contact-content{
    color: #656565;
}
.heading{
    color: red;
}
.mail-icon{
font-size: 1.5rem;
    }



