<div class="container-fluid main-container ">
    <div class="row d-flex main-row text-center ">
        <div class="col  ">
            <i class="bi bi-envelope-at-fill mail-icon"></i><span><h5 class="heading"> Mail us : <span class="contact-content"> aryantyagigmail.com</span></h5></span>
        </div>
        <div class="col ">
            <h5>SnapStudy</h5>

        </div>
        <div class="col  ">
            <i class="bi bi-telephone-inbound-fill mail-icon"></i><span><h5 class="heading"> Phone : <span class="contact-content"> 8532809250</span> </h5></span>        </div>
    </div>
</div>